body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

html, body {
  background-color: #423b3b;
  color: white;
  font-size: calc(1vw + 1em);
}

body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4 {
  margin: 0px;
}

input, textarea, button, select {
  outline: none;
}

button {
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  color: white;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

$mainRed: #D47575;

.main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  $generalWidth: 80%;
  .blur {
    filter: blur(5px) brightness(50%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
  }
  .loading-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(1.2em);
      text-align: center;
    }
    &.visible {
      opacity: 1;
    }
  }
  .progress-bar {
    position: absolute;
    height: 20%;
    width: calc(#{$generalWidth} - 10%);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    .line {
      width: 100%;
      height: 5px;
      background-color: white;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
    .dot {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-color: lightgray;
      border-radius: 50%;
      transition: 0.4s;
      &.selected {
        width: 35px;
        height: 35px;
        background-color: $mainRed;
      }
      .label {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -150%);
        text-transform: uppercase;
        color: white;
        font-size: calc(0.4em);
        user-select: none;
      }
    }
  }
  .slider {
    position: absolute;
    top: calc(20% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: $generalWidth;
    height: calc(60% - 20px);
    overflow: hidden;
    &.expanded {
      left: 0px;
      transform: translateX(0px);
      width: 100%;
      overflow: visible;
    }
    .genres {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-flex;
      gap: 20px;
      transition: 0.5s;
      padding: 0px 20px;
      &.hidden {
        transform: translate(-100%, -50%);
      }
      .genre {
        position: relative;
        width: 25%;
        padding-top: calc(25% - 15px);
        cursor: pointer;
        transition: 0.3s;
        .bg {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center;
          filter: brightness(40%);
          transition: 0.3s;
        }
        .text {
          position: absolute;
          bottom: 20%;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
          color: white;
          font-size: 0.6em;
          user-select: none;
        }
        .icon {
          position: absolute;
          bottom: calc(40%);
          left: 50%;
          transform: translateX(-50%);
          width: 40%;
          display: block;
          user-select: none;
        }
        &.one {
          .bg {
            background-image: url(../images/genre1.jpg);
          }
        }
        &.two {
          .bg {
            background-image: url(../images/genre2.jpg);
          }
        }
        &.three {
          .bg {
            background-image: url(../images/genre3.jpg);
          }
        }
        &.four {
          .bg {
            background-image: url(../images/genre4.jpg);
          }
        }
        &:hover {
          transform: scale(1.05) translateY(-10px);
          box-shadow: #272727 5px 7px 3px 0px;
          .bg {
            filter: brightness(80%);
          }
        }
      }
    }

    .instruments {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-flex;
      gap: 40px;
      transition: 0.5s;
      padding: 0px 40px;
      &.hidden {
        transform: translate(-100%, -50%);
      }
      &.waiting {
        transform: translate(100%, -50%);
      }
      .instrument {
        position: relative;
        width: 25%;
        padding-top: calc(25% - 30px);
        cursor: pointer;
        transition: 0.3s;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center;
        &[name=piano] {
          background-image: url(../images/piano.png);
        }
        &[name=violin] {
          background-image: url(../images/violin.png);
        }
        &[name=synth] {
          background-image: url(../images/synthesizer.png);
        }
        &[name=guitar] {
          background-image: url(../images/guitar.png);
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .results {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: 0.5s;
      &.waiting {
        transform: translateX(100%);
      }
      &.hidden {
        transform: translateX(-100%);
      }
      .track {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        canvas {
          height: 100%;
          width: 100%;
        }
      }
      .controls {
        position: absolute;
        left: 50%;
        top: 0px;
        width: 130px;
        height: 10vh;
        transform: translate(-50%, -100%);
        padding: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        .play, .replay {
          background-color: #D47575;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          cursor: pointer;
          background-repeat: no-repeat;
          background-size: calc(100% - 30px);
          background-position: center center;
          &.replay {
            width: 40px;
            height: 40px;
          }
          &.play {
            background-image: url(../images/play.png);
          }
          &.replay {
            background-size: calc(100% - 20px);
            background-image: url(../images/repeat.png);
          }
        }
      }
      .bottom {
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 300px;
        height: 20vh;
        transform: translate(-50%, 100%);
        padding: 20px;
        display: flex;
        gap: 20px;
        .download-wav, .download-midi {
          background-color: #D47575;
          width: 100%;
          height: 100%;
          cursor: pointer;
          padding: 15px;
          border-radius: 20px;
          .inner {
            background-size: 65%;
            background-position: center 5px;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: relative;
            .desc {
              width: 100%;
              position: absolute;
              bottom: 0px;
              left: 0px;
              text-transform: uppercase;
              font-size: 12px;
              text-align: center;
              color: white;
              text-decoration: none;
            }
          }
          &.download-wav {
            .desc {
              white-space: nowrap;
            }
            .inner {
              background-image: url(../images/sound.png);
            }
          }
          &.download-midi {
            .inner {
              background-image: url(../images/midi.png);
            }
          }
        }
      }
    }

    .keys {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: 0.5s;
      &.waiting {
        transform: translateX(100%);
      }
      &.hidden {
        transform: translateX(-100%);
      }
      .clef {
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        display: block;
        height: 80%;
        user-select: none;
      }
      .circle {
        border-radius: 50%;
        .tick {
          position: absolute;
          top: 0px;
          left: 50%;
          height: 100%;
          width: 3px;
          transform: translateX(-50%);
          transition: 2s;
          .node {
            background-color: lightgray;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            font-size: 50%;
            text-align: center;
            color: rgb(78, 78, 78);
            cursor: pointer;
            transition: 0.2s;
            user-select: none;
            &:hover {
              background-color: black;
              color: white;
              transition: 0.5s;
            }
          }
        }
        &.outer {
          position: absolute;
          transform: translateY(-50%);
          background-color: rgba(255, 255, 255, 0.2);
          right: 10%;
          top: 50%;
          width: 35%;
          padding-top: 35%;
        }
        &.inner {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.4);
          left: 50%;
          top: 50%;
          width: 75%;
          height: 75%;
          .node {
            font-size: 30%;
          }
        }
      }
    }

  }
}